* {
    user-select: none;
  }


  #container2 {
    background: rgb(46, 46, 46);
    position: absolute;
    left: 0;
    width: 100%;
    top: 20%;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #container {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    text-align: center;
    height: 94%;
  }
  #titles {
    position: relative;
    top: 3.4%;
    text-shadow: 0px 0px 5px black;
  }
  #title {
    color: rgb(8, 144, 198);
    font-weight: 500;
    font-size: 40px;
  }
  #subtitle {
    color: rgb(8, 144, 198);
    position: relative;
    font-weight: 300;
    top: -9px;
    font-size: 16px;
  }
  
  * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .subcontainer {
    width: 600%;
    position: relative;
    top: 2%;
    margin: 10px;
    margin-bottom: 0px;
    height: 45%;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
    color: white;
  }
  .subcontainer1 {
    width: 600%;
    position: relative;
    margin: 10px;
    margin-bottom: 0px;
    height: 50%;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
    color: white;
  }
 
  
  .settingTitle {
    font-weight: 500;
    font-size: 30px;
    text-shadow: 0px 0px 2px black;
  
  }
  .settingDesc {
    font-weight: 100;
    font-size: 15px;
    position:relative;
    top: -3%;
  }
  
  #allocatedMemory {
    position: relative;
    top: 10%;
    font-weight: 500;
    font-size: 25px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    position: relative;
    top: 20%;
    height: 13px;
    border-radius: 10px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #277dff;
    cursor: pointer;
  }
  
  #Java-login {
    border: none;
    padding: 5px;
    width: 200px;
    height: 100px;
    text-align: center;
    color: rgb(0, 157, 255);
    font-size: 25px;
    cursor: pointer;
    margin: 1px 1px;
    background: none;
    transition: 0.2s all;
    background-color: rgb(45, 45, 45);
    outline: 2px solid rgb(59, 59, 59);
    border-radius: 10px;
  }
  #Java-login:hover {
    background-color: rgb(49, 49, 49);
  }

  
    
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider2:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider2 {
    background-color: #2196F3;
  }
  
  input:focus + .slider2 {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  #Modrinth-mods {
    border: none;
    padding: 5px;
    width: 200px;
    height: 100px;
    text-align: center;
    color: rgb(0, 157, 255);
    font-size: 25px;
    cursor: pointer;
    margin: 1px 1px;
    background: none;
    transition: 0.2s all;
    background-color: rgb(45, 45, 45);
    outline: 2px solid rgb(59, 59, 59);
    border-radius: 10px;
  }
  #Bedrock-login:hover {
    background-color: rgb(49, 49, 49);
  }
  
  